.initially-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.dark-background {
  background-color: black;
}

.white-text {
  color: white;
}

.light-background {
  background-color: white;
}

.black-text {
  color: black;
}

.highlight-paragraph {
  background-color: yellow;
}

.box {
  border: 12px solid;
  border-color: blue;

}

.highlight:hover {
  text-decoration: underline;
}

.highlight {
  cursor: pointer;
}

img {
  height: 300px;
}
